:root {
  --sl-color-accent-low: #440d13;
  --sl-color-accent: #c60035;
  --sl-color-accent-high: #fab3b3;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e1f1f6;
  --sl-color-gray-2: #b2c6cb;
  --sl-color-gray-3: #6b939d;
  --sl-color-gray-4: #385f68;
  --sl-color-gray-5: #173e47;
  --sl-color-gray-6: #022c35;
  --sl-color-black: #0b1b1f;

  /* --sl-badge-danger-bg: rgba(239, 68, 68, 0.1); */

  --sl-color-text-accent: hsl(217.2, 91.2%, 59.8%);

  --sl-color-bg-sidebar: #020817;
  --sl-color-bg: #020817;

  --background: hsl(222.2, 84%, 4.9%);
  --foreground: hsl(210, 40%, 98%);

  --primary: hsl(217.2, 91.2%, 59.8%);
  --primary-foreground: hsl(222.2, 47.4%, 11.2%);

  --border: hsl(217.2, 32.6%, 17.5%);

  --warning-foreground: hsl(48 97% 77%);

  --tip: hsl(272 72% 47%);
  --tip-foreground: hsl(264 67% 35%);
}
:root[data-theme='light'] {
  --sl-color-accent-low: #fec7c7;
  --sl-color-accent: #c90036;
  --sl-color-accent-high: #630317;
  --sl-color-white: #0b1b1f;
  --sl-color-gray-1: #022c35;
  --sl-color-gray-2: #173e47;
  --sl-color-gray-3: #385f68;
  --sl-color-gray-4: #6b939d;
  --sl-color-gray-5: #b2c6cb;
  --sl-color-gray-6: #e1f1f6;
  --sl-color-gray-7: #f0f8fa;
  --sl-color-black: #ffffff;

  --sl-color-hairline-light: pink;

  --background: hsl(0, 0%, 100%);
  --foreground: hsl(222.2, 84%, 4.9%);
  --muted-foreground: 215.4 16.3% 46.9%;

  --primary: hsl(221.2, 83.2%, 53.3%);
  --primary-foreground: (210, 40%, 98%);

  --border: hsl(214.3, 31.8%, 91.4%);

  --warning: hsl(42 100% 62%);
  --warning-foreground: hsl(48 97% 77%);

  --note-foreground: hsl(210 100% 72%);
  --note: hsl(207 100% 23%);

  --tip: hsl(272 72% 47%);
  --tip-foreground: hsl(264 67% 35%);
}

.sl-badge.danger {
  @apply inline-flex items-center gap-x-1.5 rounded-md px-1.5 py-0.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-red-500/15 text-red-700 group-data-[hover]:bg-red-500/25 dark:bg-red-500/20 dark:text-red-400 dark:group-data-[hover]:bg-red-500/20 border-none !important;
}

.sl-badge.caution {
  @apply inline-flex items-center gap-x-1.5 rounded-md px-1.5 py-0.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-amber-400/20 text-amber-700 group-data-[hover]:bg-amber-400/30 dark:bg-amber-400/25 dark:text-amber-400 dark:group-data-[hover]:bg-amber-400/15 border-none !important;
}

.sl-badge.tip {
  @apply inline-flex items-center gap-x-1.5 rounded-md px-1.5 py-0.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-purple-500/20 text-purple-700 group-data-[hover]:bg-purple-500/25 dark:text-purple-400 dark:group-data-[hover]:bg-purple-500/20 border-none;
}

.sl-badge.success {
  @apply inline-flex items-center gap-x-1.5 rounded-md px-1.5 py-0.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-green-500/15 text-green-700 group-data-[hover]:bg-green-500/25 dark:bg-green-500/20 dark:text-green-400 dark:group-data-[hover]:bg-green-500/20 border-none !important;
}

.sl-badge.note {
  @apply inline-flex items-center gap-x-1.5 rounded-md px-1.5 py-0.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-blue-500/20 text-blue-700 group-data-[hover]:bg-blue-500/25 dark:text-blue-400 dark:group-data-[hover]:bg-blue-500/25 border-none !important;
}

.logo {
  stroke: white;
}

.site-title {
  color: hsl(var(--foreground));
  gap: 0.5rem;
  font-weight: 400;
}

@media (min-width: 50rem) {
  button[data-open-modal] {
    @apply flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 hover:border-input hover:text-muted-foreground;
  }
}

button > kbd {
  background-color: transparent;
  border-color: var(--border);
}

.hero {
  @apply flex flex-col gap-8;
}

.hero > img {
  @apply mx-0 w-3/4;
}

.card {
  @apply bg-background border-border rounded-lg gap-[2px] px-6 py-5 !important;
}

.card .title {
  @apply flex flex-col justify-start text-left align-text-top gap-[2px] !important;
}

a > .card {
  @apply hover:border-primary !important;
}

.title:where(.astro-v5tidmuc) {
  display: flex !important;
  align-items: start !important;
  text-align: left !important;
}

.card .icon {
  @apply border-none bg-transparent text-primary !important;
}

.card .body {
  @apply text-muted-foreground !important;
}

summary {
  display: flex !important;
}

summary:where(.astro-doynk5tl) {
  @apply h-16;
}

@media (min-width: 640px) {
  summary:where(.astro-doynk5tl) {
    @apply py-2 m-0;
  }

  .toggle {
    @apply m-0;
  }
}

div.sidebar-pane summary + ul > li {
  border-inline-start-color: #1e293b;
}

div.sidebar-pane a[aria-current='page'] {
  @apply bg-primary/10 text-primary;
}

div.sidebar-pane a:hover {
  @apply bg-primary/10 text-primary;
}

div.sidebar-pane
  ul
  ul
  li:has(> a:not([aria-current='page']):is(:hover, :focus-visible)) {
  border-inline-start-color: hsl(217.2, 91.2%, 59.8%);
}

div.sidebar-pane a[aria-current='page'] {
  font-weight: 400;
}

div.sidebar-pane ul ul li:has(> a[aria-current='page']) {
  border-inline-start-color: hsl(217.2, 91.2%, 59.8%);
}

.right-sidebar-panel {
  @apply border-t-border;
}

li {
  @apply py-[2px];
}

.pagination-links a {
  @apply border-none text-sm shadow-none gap-[2px];
}

.astro-u2l5gyhi > * {
  color: hsl(var(--muted-foreground));
}

.astro-u2l5gyhi > span {
  @apply hover:text-foreground;
}

.link-title {
  @apply text-base transition-colors duration-100;
}

span.astro-u2l5gyhi {
  font-size: 0;
}

span.astro-u2l5gyhi br,
span.astro-u2l5gyhi span {
  font-size: initial;
}

span.astro-u2l5gyhi::first-line {
  visibility: hidden;
}

.pagiantion-links svg {
  @apply pt-2;
}
.astro-u2l5gyhi .astro-c6vsoqas {
  @apply mt-4 text-muted-foreground h-4 w-4;
}

.content-panel + .content-panel {
  @apply border-t-border;
}

.content-panel.astro-7nkwcw3z {
  @apply border-none px-3 lg:px-6 pt-0;
}

.astro-j6tvhyss {
  @apply hidden;
}

summary:where(.astro-doynk5tl) {
  @apply bg-background;
}

.toggle {
  @apply border-primary/80 hover:border-primary bg-transparent mt-2 md:mt-0 !important;
}

.display-current:where(.astro-doynk5tl) {
  @apply mt-2 md:mt-0;
}

.right-sidebar {
  @apply border-l-border;
}

.card .title {
  @apply text-base !important;
}
.card .title svg {
  @apply size-6 !important;
}
.card .body {
  @apply text-sm text-muted-foreground !important;
}

.starlight-aside--caution {
  @apply bg-warning-foreground/10 border border-warning-foreground/50 text-warning-foreground font-light [&>svg]:text-warning-foreground  relative w-full rounded-lg px-4 py-3 text-sm [&>svg+div]:translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-4  [&>svg~*]:pl-7;
}

.starlight-aside--note {
  @apply relative w-full rounded-lg border px-4 py-3 text-sm [&>svg+div]:translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-4 [&>svg]:text-foreground [&>svg~*]:pl-7 bg-note/10  border-note-foreground/50 text-note-foreground font-light;
}

.starlight-aside--tip {
  @apply relative w-full rounded-lg border px-4 py-3 text-sm [&>svg+div]:translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-4 [&>svg]:text-purple-700 [&>svg~*]:pl-7 bg-purple-400/10  border-purple-700/50 text-purple-200 font-light;
}

.starlight-aside--danger {
  @apply relative w-full rounded-lg border px-4 py-3 text-sm [&>svg+div]:translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-4 [&>svg]:text-red-700 [&>svg~*]:pl-7 bg-red-400/10  border-red-700/50 text-red-200 font-light;
}

.sl-markdown-content h1:first-of-type {
  @apply text-2xl sm:text-3xl mt-0 !important;
}

.sl-markdown-content h2 {
  @apply text-xl sm:text-2xl mt-[2em] !important;
}

.sl-markdown-content p:nth-of-type(2) {
  @apply mt-1 !important;
}

/* .sl-markdown-content
  :not(h1, h2, h3, h4, h5, h6)
  + :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
  @apply mt-0;
} */

.sl-markdown-content code:not(:where(.not-content *)) {
  @apply bg-secondary rounded !important;
}

code {
  @apply bg-background !important;
}

.expressive-code pre {
  @apply rounded-lg border-border !important;
}

.expressive-code .copy button {
  @apply bg-background rounded-lg !important;
}

.sl-steps > li::before {
  @apply bg-transparent shadow-none border border-border flex items-center justify-center;
}

.sl-steps > li::after {
  @apply bg-secondary;
}

img {
  @apply rounded-xl;
}

/* Tabs */

starlight-tabs ul[role='tablist'] li[role='presentation'] {
  @apply border-b-rose-500 !important;
}

starlight-tabs .tablist-wrapper {
  overflow-y: hidden;
  @apply border-l border-r border-t rounded-t-xl;
}

starlight-tabs ul[role='tablist'] {
  @apply border-b;
}

starlight-tabs ul[role='tablist'] a[role='tab'] {
  @apply flex items-center text-muted-foreground rounded-lg transition-colors my-2 p-0 px-2 py-[2px] mx-2 shadow-none border-none text-sm;
}

starlight-tabs ul[role='tablist'] a[role='tab'][aria-selected='true'] {
  @apply bg-primary/20 text-white font-normal border-none !important;
}

.tablist-wrapper ~ [role='tabpanel'] {
  @apply border-x border-b mt-0 p-4 rounded-b-lg;
}

.tablist-wrapper ~ [role='tabpanel'] pre,
.tablist-wrapper ~ [role='tabpanel'] pre code {
  @apply border-none;
}

/* File Tree */

.sl-markdown-content starlight-file-tree {
  @apply border-border rounded-lg bg-transparent;
}

.sl-markdown-content starlight-file-tree .directory > details > summary ~ ul {
  @apply border-border;
}

.sl-markdown-content
  starlight-file-tree
  .directory
  > details
  > summary:hover
  ~ ul {
  @apply border-primary;
}

.pagination-links {
  @apply flex;
}

.expressive-code .frame pre {
  @apply bg-transparent !important;
}

mobile-starlight-toc .dropdown {
  @apply bg-secondary border-border !important;
}

mobile-starlight-toc .dropdown a {
  @apply border-t-white/20;
}
